@import "../../styles/functions";
@import "../../styles/variables";


.itemContainer {
  @include flex(column, center, space-around);
  @include border-shadow();
  background: $palette3;
  width: 25vw;
  min-height: 22vh;
  padding: 5px;

  & > span {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

.title {
  @include flex(row, center, space-around);
  width: 100%;

  span {
    font-size: 1.3rem;
  }
}