@import "../../styles/functions";
@import "../../styles/variables";


.itemContainer {
  @include flex(column, center, space-around);
  @include border-shadow();
  background: $palette3;
  width: 25vw;
  height: 22vh;
  padding: 5px;

  & > span {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  @media(max-width: 800px) {
    width: 25%;
    height: 10vh;
    justify-content: center;

    & > span {
      font-size: 1rem;
    }
  }
}

.title {
  @include flex(row, center, space-around);
  width: 100%;

  span {
    font-size: 1.3rem;
  }

  @media(max-width: 800px) {
    span {
      font-size: 1rem;
      font-weight: bold;
    }

    svg {
      display: none;
    }
  }
}