@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

button, a{
  cursor: pointer;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background: $palette2;
  font-size: 16px;
}

html, body, #root{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}