@import "../../styles/functions";
@import "../../styles/variables";

.table {
  @include flex(column, center, center);
  @include space(20px 60px, 10px, 10px);
  @include border-shadow();
  background: $palette3;
}

.tableBody {
  padding: 10px;
  width: 100%;
}
