@import "../../styles/functions";
@import "../../styles/variables";

.table {
  @include flex(column, center, center);
  @include space(20px 60px, 10px, 10px);
  @include border-shadow();
  background: $palette3;

  @media(max-width: 800px) {
    width: 100%;
    margin: 0;
  }

}

.tableBody {
  padding: 10px;
  width: 100%;
}
