@import "../../styles/functions";
@import "../../styles/variables";

.forms {
  @include flex(row, center, space-around);
  @include space(20px 60px, 10px, 20px);
  @include border-shadow();
  background: $palette3;

  button {
    @include border-shadow();
    border: none;
    padding: 10px;
    width: 15vw;
    font-size: 1.5rem;
    background: $palette1;
    color: $palette3;
    transition: all ease-in-out .3s;

    &:hover {
      background: $palette1-variant;
    }

  }

  @media(max-width: 800px) {
    margin: 0;
    width: 100vw;
    flex-direction: column;

    button {
      width: 70vw;
    }
  }
}